#  Packages File  #
###################

packages/

#   bin / obj     #
###################

bin/
obj/

#   Moles Assemblies  #
#######################

MolesAssemblies/

#      .suo       #
###################

*.suo

#  .user in Auzre project  #
############################

*.user

